<div class="uk-section uk-section-primary uk-padding-remove-bottom uk-padding-remove-top">
    <div class="uk-container uk-text-center">
        <hr class="uk-margin-remove-bottom uk-margin-medium-top">
        <div class="uk-margin-top uk-margin-bottom">
            <div uk-grid="" class="uk-child-width-auto@m uk-flex-middle uk-grid">
                <div class="uk-first-column">
                </div>
                <div class="uk-margin-auto">
                    <div>Team: ISQA3900-GROUP5 Contact: HangchengZhang YuGuo</div>
                </div>
                <div>
                </div>
            </div>
        </div>
    </div>
</div>
