{% extends 'shop/base.html' %}

{% block title %}
用户信息
{% endblock %}

{% block main %}
    <div class="uk-container" style="min-height: 800px">
    <div class="uk-flex uk-flex-center uk-margin-medium-top">
        <div class="uk-card uk-card-primary uk-card-body uk-width-1-2">
            <h3 class="uk-card-title" style="text-align: center">UserInfo</h3>
            <p style="text-align: center">
                <span style="font-size: 20px; text-align: center">username: {{ request.user.username }}</span><br>
                <span style="font-size: 20px; text-align: center">address: {{ request.user.address|default_if_none:'未填写' }}</span><br>
                <span style="font-size: 20px;text-align: center">phone: {{ request.user.phone|default_if_none:'未填写' }}</span><br>
            </p>
        </div>
    </div>
    <div class="uk-flex uk-flex-center uk-margin-medium-top">
        <div class="uk-card uk-card-primary uk-card-body uk-width-1-2">
            <h3 class="uk-card-title" style="text-align: center">UserWallet</h3>
            <p style="text-align: center">
                <span style="font-size: 20px; text-align: center">amount: {{ request.user.wallet.amount }}</span><br>
            </p>
        </div>
    </div>
    <div class="uk-flex uk-flex-center uk-margin-medium-top">
        <div class="uk-card uk-card-primary uk-card-body uk-width-1-2">
        <h3 class="uk-card-title" style="text-align: center">OrderList</h3>
<table class="uk-table uk-table-striped">
    <thead>
        <tr>
            <th>DateTime</th>
            <th>Total</th>
            <th>operating</th>
        </tr>
    </thead>
    <tbody>

            {% for i in order_list %}
                <tr>
            <td>{{ i.create_time }}</td>
            <td>{{ i.total }}</td>
                <td><button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #id{{ forloop.counter }}">View</button></td>
                <!-- This is the modal -->
<div id="id{{ forloop.counter }}" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">View</h2>
    <p>

    {% for order in i.order_card.all %}
            <span>Product：{{ order.product }}</span>
            <span>Amount: {{ order.amount }}</span>
    {% endfor %}
    </p>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
        </p>
    </div>
</div>
                </tr>

            {% endfor %}

    </tbody>
</table>

        </div>
    </div>
    </div>
{% endblock %}
